IFTTT
[
    {
        "id": "32c0550f.0417ca",
        "type": "tab",
        "label": "IFTTT Trigger",
        "disabled": false,
        "info": ""
    },
    {
        "id": "344d49b9.3a4db6",
        "type": "exec",
        "z": "32c0550f.0417ca",
        "command": "curl -X POST https://maker.ifttt.com/trigger/test1/with/key/*REDACTED*",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": true,
        "name": "Fire IFTTT (test1)",
        "x": 390,
        "y": 160,
        "wires": [
            [
                "efa232be.bef17"
            ],
            [
                "efa62ef5.974cc"
            ],
            []
        ]
    },
    {
        "id": "d39f7733.dcc1d8",
        "type": "rpi-gpio in",
        "z": "32c0550f.0417ca",
        "name": "",
        "pin": "35",
        "intype": "down",
        "debounce": "25",
        "read": true,
        "x": 100,
        "y": 200,
        "wires": [
            [
                "88bf8029.136e7"
            ]
        ]
    },
    {
        "id": "88bf8029.136e7",
        "type": "switch",
        "z": "32c0550f.0417ca",
        "name": "If == 0",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 230,
        "y": 180,
        "wires": [
            [
                "344d49b9.3a4db6"
            ]
        ]
    },
    {
        "id": "efa232be.bef17",
        "type": "debug",
        "z": "32c0550f.0417ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "efa62ef5.974cc",
        "type": "debug",
        "z": "32c0550f.0417ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "48111d0b.347464",
        "type": "inject",
        "z": "32c0550f.0417ca",
        "name": "Test Button",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 60,
        "wires": [
            [
                "88bf8029.136e7"
            ]
        ]
    }
]
