LED
[
    {
        "id": "19c2dad1.b981a5",
        "type": "tab",
        "label": "LED",
        "disabled": false,
        "info": ""
    },
    {
        "id": "18af3aa9.6446a5",
        "type": "rpi-gpio out",
        "z": "19c2dad1.b981a5",
        "name": "",
        "pin": "3",
        "set": false,
        "level": "0",
        "freq": "99",
        "out": "pwm",
        "x": 520,
        "y": 300,
        "wires": []
    },
    {
        "id": "c77d7f9e.f0e97",
        "type": "inject",
        "z": "19c2dad1.b981a5",
        "name": "",
        "topic": "off",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "18af3aa9.6446a5",
                "26859ac1.e2b006"
            ]
        ]
    },
    {
        "id": "e230ff59.fd7ed",
        "type": "inject",
        "z": "19c2dad1.b981a5",
        "name": "",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 220,
        "wires": [
            [
                "18af3aa9.6446a5",
                "3ae02bc3.1cef64"
            ]
        ]
    },
    {
        "id": "81284e56.edda4",
        "type": "inject",
        "z": "19c2dad1.b981a5",
        "name": "",
        "topic": "",
        "payload": "60",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 380,
        "wires": [
            [
                "18af3aa9.6446a5",
                "7a534edb.7f6ea"
            ]
        ]
    },
    {
        "id": "1a850d12.81f4d3",
        "type": "inject",
        "z": "19c2dad1.b981a5",
        "name": "",
        "topic": "",
        "payload": "99",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 460,
        "wires": [
            [
                "18af3aa9.6446a5",
                "a4828318.ad638"
            ]
        ]
    },
    {
        "id": "eb4414d2.2b3338",
        "type": "inject",
        "z": "19c2dad1.b981a5",
        "name": "",
        "topic": "",
        "payload": "30",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 300,
        "wires": [
            [
                "18af3aa9.6446a5",
                "46360a3f.47ed54"
            ]
        ]
    },
    {
        "id": "26859ac1.e2b006",
        "type": "debug",
        "z": "19c2dad1.b981a5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 290,
        "y": 140,
        "wires": []
    },
    {
        "id": "3ae02bc3.1cef64",
        "type": "debug",
        "z": "19c2dad1.b981a5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 290,
        "y": 220,
        "wires": []
    },
    {
        "id": "46360a3f.47ed54",
        "type": "debug",
        "z": "19c2dad1.b981a5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 290,
        "y": 300,
        "wires": []
    },
    {
        "id": "7a534edb.7f6ea",
        "type": "debug",
        "z": "19c2dad1.b981a5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 290,
        "y": 380,
        "wires": []
    },
    {
        "id": "a4828318.ad638",
        "type": "debug",
        "z": "19c2dad1.b981a5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 290,
        "y": 460,
        "wires": []
    }
]
