PayloadTest
[
    {
        "id": "5dc32275.68bbec",
        "type": "inject",
        "z": "1c0046c7.80b5b9",
        "name": "",
        "topic": "test",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 230,
        "wires": [
            [
                "d34be409.6f6348"
            ]
        ]
    },
    {
        "id": "cc83fced.ee03f",
        "type": "debug",
        "z": "1c0046c7.80b5b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 660,
        "y": 260,
        "wires": []
    },
    {
        "id": "4921fee4.089c5",
        "type": "change",
        "z": "1c0046c7.80b5b9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "alarm",
                "pt": "msg",
                "to": "55",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 150,
        "wires": [
            [
                "cc83fced.ee03f"
            ]
        ]
    },
    {
        "id": "536208cd.1acb48",
        "type": "change",
        "z": "1c0046c7.80b5b9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 190,
        "wires": [
            [
                "4921fee4.089c5"
            ]
        ]
    },
    {
        "id": "613fabad.8b9ef4",
        "type": "switch",
        "z": "1c0046c7.80b5b9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 490,
        "y": 370,
        "wires": [
            []
        ]
    },
    {
        "id": "d34be409.6f6348",
        "type": "change",
        "z": "1c0046c7.80b5b9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "message",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 230,
        "wires": [
            [
                "536208cd.1acb48"
            ]
        ]
    }
]
