UItest
[
    {
        "id": "5d3823d0.39c32c",
        "type": "function",
        "z": "81316094.528b7",
        "name": "off",
        "func": "msg.payload = 0;\nmsg.topic = \"Q\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 360,
        "wires": [
            [
                "8f160816.1446a8",
                "ba73815a.7fafd"
            ]
        ]
    },
    {
        "id": "a54726bf.fa5538",
        "type": "switch",
        "z": "81316094.528b7",
        "name": "if OUT",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 390,
        "wires": [
            [
                "5d3823d0.39c32c",
                "b6049bf7.0807e8"
            ],
            [
                "44e0056e.09adfc",
                "5272c2be.aaa5ac"
            ]
        ]
    },
    {
        "id": "44e0056e.09adfc",
        "type": "function",
        "z": "81316094.528b7",
        "name": "on",
        "func": "msg.payload = 1;\nmsg.topic = \"Q\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 420,
        "wires": [
            [
                "8f160816.1446a8",
                "32773543.4bac7a"
            ]
        ]
    },
    {
        "id": "8f160816.1446a8",
        "type": "link out",
        "z": "81316094.528b7",
        "name": "WEB 0_1",
        "links": [
            "43430829.946108",
            "7d4ae723.c1bb18",
            "915c123c.9a25e"
        ],
        "x": 625,
        "y": 390,
        "wires": []
    },
    {
        "id": "dd24603a.ddad",
        "type": "ui_dropdown",
        "z": "81316094.528b7",
        "name": "",
        "label": "",
        "place": "",
        "group": "f45fba38.d0dbe8",
        "order": 0,
        "width": "5",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "Disarm",
                "value": 0,
                "type": "num"
            },
            {
                "label": "ARM",
                "value": 1,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "D",
        "x": 270,
        "y": 390,
        "wires": [
            [
                "a54726bf.fa5538"
            ]
        ]
    },
    {
        "id": "382854a1.c3a74c",
        "type": "ui_text",
        "z": "81316094.528b7",
        "group": "5356fc77.d9d984",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Welcome to the Home screen!",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 520,
        "y": 160,
        "wires": []
    },
    {
        "id": "c5e6577.e7297a8",
        "type": "ui_toast",
        "z": "81316094.528b7",
        "position": "bottom left",
        "displayTime": "2",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "off",
        "x": 600,
        "y": 260,
        "wires": []
    },
    {
        "id": "dee1e74b.61c288",
        "type": "ui_toast",
        "z": "81316094.528b7",
        "position": "bottom left",
        "displayTime": "2",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "on",
        "x": 590,
        "y": 510,
        "wires": []
    },
    {
        "id": "b6049bf7.0807e8",
        "type": "function",
        "z": "81316094.528b7",
        "name": "msg",
        "func": "msg.payload = \"Alarm System Deactivated\";\nmsg.topic = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 260,
        "wires": [
            [
                "c5e6577.e7297a8"
            ]
        ]
    },
    {
        "id": "5272c2be.aaa5ac",
        "type": "function",
        "z": "81316094.528b7",
        "name": "msg",
        "func": "msg.payload = \"Alarm System Activated\";\nmsg.topic = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 510,
        "wires": [
            [
                "dee1e74b.61c288"
            ]
        ]
    },
    {
        "id": "adf4fa12.bb0228",
        "type": "ui_template",
        "z": "81316094.528b7",
        "group": "5356fc77.d9d984",
        "name": "color",
        "order": 0,
        "width": "0",
        "height": "0",
        "format": "<style>\n.led-green {\nmargin: 0 auto;\nwidth: 24px;\nheight: 24px;\nbackground-color: msg.payload;\nborder-radius: 50%;\n{\n</style>\n<br> \n<center>Alarm State\n<table>\n<tr>\n<td><div class=\"led-green\" style=\"background-color:{{msg.payload}}\"></div></td>\n</tr>\n</table>\n</center>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 860,
        "y": 390,
        "wires": [
            []
        ]
    },
    {
        "id": "ba73815a.7fafd",
        "type": "change",
        "z": "81316094.528b7",
        "name": "red",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 360,
        "wires": [
            [
                "adf4fa12.bb0228"
            ]
        ]
    },
    {
        "id": "32773543.4bac7a",
        "type": "change",
        "z": "81316094.528b7",
        "name": "green",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 420,
        "wires": [
            [
                "adf4fa12.bb0228"
            ]
        ]
    },
    {
        "id": "f45fba38.d0dbe8",
        "type": "ui_group",
        "z": "",
        "name": "                Set Alarm",
        "tab": "11962a34.2c0426",
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "5356fc77.d9d984",
        "type": "ui_group",
        "z": "",
        "name": "",
        "tab": "2d967686.6e63fa",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "11962a34.2c0426",
        "type": "ui_tab",
        "z": "",
        "name": "Alarm System",
        "icon": "fingerprint",
        "order": 2
    },
    {
        "id": "2d967686.6e63fa",
        "type": "ui_tab",
        "z": "",
        "name": "HOME",
        "icon": "home",
        "order": 1
    }
]
